In [1]:
#installing pyspark
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=533d52f0665a552faff648226b2bbb82a929cbaa1e0feb8d0dd7c0327caca2a7
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
#importing required libraries
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType,IntegerType,TimestampType
from pyspark.sql.functions import year, month,col,first,to_timestamp,count,desc,isnull
from pyspark.sql import functions as F
spark = SparkSession.builder.appName("Crimedata").getOrCreate()

In [ ]:
# (1) schema for crime dataset
schema_dict = {
    "X": StringType(),
    "Y": StringType(),
    "RowID": StringType(),
    "CCNumber": StringType(),
    "CrimeDateTime": StringType(),
    "CrimeCode": StringType(),
    "Description": StringType(),
    "Inside_Outside": StringType(),
    "Weapon": StringType(),
    "Post": StringType(),
    "Gender": StringType(),
    "Age": IntegerType(),
    "Race": StringType(),
    "Ethnicity": StringType(),
    "Location": StringType(),
    "Old_District": StringType(),
    "New_District": StringType(),
    "Neighborhood": StringType(),
    "Latitude": StringType(),
    "Longitude": StringType(),
    "GeoLocation": StringType(),
    "PremiseType": StringType(),
    "Total_Incidents": IntegerType()
}

# Creating StructFields from the dictionary
fields = [StructField(key, value, True) for key, value in schema_dict.items()]

# Creating StructType from the StructFields
schema = StructType(fields)

In [ ]:
# (2) reading csv file using schema definition
from pyspark.sql import SparkSession
df = spark.read.csv("Crime_Data.csv", schema=schema)

In [ ]:
# (3) cache the dataframe
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder \
    .appName("Caching DataFrame") \
    .getOrCreate()

df = spark.read.csv("Crime_Data.csv", header=True)  # Replace "your_csv_file.csv" with your CSV file

# (3) cache the dataframe
df.cache()

DataFrame[X: string, Y: string, RowID: string, CCNumber: string, CrimeDateTime: string, CrimeCode: string, Description: string, Inside_Outside: string, Weapon: string, Post: string, Gender: string, Age: string, Race: string, Ethnicity: string, Location: string, Old_District: string, New_District: string, Neighborhood: string, Latitude: string, Longitude: string, GeoLocation: string, PremiseType: string, Total_Incidents: string]

In [ ]:
df.show()

+-----------------+----------------+-----+--------+--------------------+---------+-----------------+--------------+-------+----+------+----+--------------------+---------+------------------+------------+------------+--------------------+------------------+-------------------+--------------------+--------------------+---------------+
|                X|               Y|RowID|CCNumber|       CrimeDateTime|CrimeCode|      Description|Inside_Outside| Weapon|Post|Gender| Age|                Race|Ethnicity|          Location|Old_District|New_District|        Neighborhood|          Latitude|          Longitude|         GeoLocation|         PremiseType|Total_Incidents|
+-----------------+----------------+-----+--------+--------------------+---------+-----------------+--------------+-------+----+------+----+--------------------+---------+------------------+------------+------------+--------------------+------------------+-------------------+--------------------+--------------------+---------------+
|          -76.665|39.2945260000001|    1|13L06334|2013/12/14 22:10:...|      3AF|          ROBBERY|             O|FIREARM| 814|     M|  36|BLACK_OR_AFRICAN_...|     NULL|2900 EDMONDSON AVE|   SOUTHWEST|         N/A|   FRANKLINTOWN ROAD|         39.294526|            -76.665| (39.294526,-76.665)|STREET              |              1|
|-76.5646639999999|39.2914440000001|    2|13L05902|2013/12/14 17:27:...|       4C|     AGG. ASSAULT|             O|  OTHER| 223|     F|  34|               WHITE|     NULL|     100 FAGLEY ST|   SOUTHEAST|         N/A| BALTIMORE HIGHLANDS|         39.291444|         -76.564664|(39.291444,-76.56...|STREET              |              1|
|       -76.593647|       39.285515|    3|13L05908|2013/12/14 02:00:...|       4E|   COMMON ASSAULT|             O|     NA| 213|     F|  44|BLACK_OR_AFRICAN_...|     NULL|      500 BROADWAY|   SOUTHEAST|         N/A|         FELLS POINT|         39.285515|         -76.593647|(39.285515,-76.59...|STREET              |              1|
|       -76.676412|39.3347180000001|    4|13L06261|2013/12/14 16:30:...|       4D|     AGG. ASSAULT|             I|  HANDS| 623|     F|  19|BLACK_OR_AFRICAN_...|     NULL|  3700 BOARMAN AVE|   NORTHWEST|         N/A|   CALLAWAY-GARRISON|         39.334718|         -76.676412|(39.334718,-76.67...|APT/CONDO - OCCUPIED|              1|
|        -76.61959|39.2929500000001|    5|13L03805|2013/12/09 15:42:...|       6J|          LARCENY|             I|     NA| 114|     U|NULL|             UNKNOWN|     NULL|   300 N HOWARD ST|     CENTRAL|         N/A|            DOWNTOWN|          39.29295|          -76.61959|(39.29295,-76.61959)|   CONVENIENCE STORE|              1|
|       -76.663739|39.3358490000001|    6|13L03724|2013/12/09 12:30:...|       4C|     AGG. ASSAULT|             I|  OTHER| 614|     F|  51|BLACK_OR_AFRICAN_...|     NULL|   2700 OSWEGO AVE|   NORTHWEST|         N/A|CENTRAL PARK HEIGHTS|         39.335849|         -76.663739|(39.335849,-76.66...|   ROW/TOWNHOUSE-OCC|              1|
|       -76.544614|39.3429600000001|    7|13L03758|2013/12/09 13:50:...|       6G|          LARCENY|             I|     NA| 425|     M|  19|             UNKNOWN|     NULL|    5700 BELAIR RD|   NORTHEAST|         N/A|           FRANKFORD|          39.34296|         -76.544614|(39.34296,-76.544...|OTHER - INSIDE      |              1|
|-76.5805359999999|39.2839940000001|    8|13L06547|2013/12/09 01:00:...|       6J|          LARCENY|             I|     NA| 214|     M|  27|               WHITE|     NULL|     700 S ROSE ST|   SOUTHEAST|         N/A|              CANTON|         39.283994|         -76.580536|(39.283994,-76.58...|   ROW/TOWNHOUSE-OCC|              1|
|       -76.577016|       39.284135|    9|13L03753|2013/12/09 13:10:...|       6C|          LARCENY|             I|     NA| 214|  NULL|NULL|             UNKNOWN|     NULL|   2800 FOSTER AVE|   SOUTHEAST|         N/A|              CANTON|         39.284135|         -76.577016|(39.284135,-76.57...|RETAIL/SMALL BUSINES|              1|
|    -76.590660581|39.2935563090001|   10|13L03878|2013/12/09 05:00:...|       6D|LARCENY FROM AUTO|             O|     NA| 212|     M|  45|BLACK_OR_AFRICAN_...|     NULL|    1800 LAMLEY ST|   SOUTHEAST|         N/A|     WASHINGTON HILL|39.293556308759264|-76.590660580805277|(39.2935563087592...|STREET              |              1|
|       -76.539886|39.2875770000001|   11|13L03806|2013/12/09 15:40:...|       6C|          LARCENY|             I|     NA| 232|  NULL|NULL|             UNKNOWN|     NULL|  6300 EASTERN AVE|   SOUTHEAST|         N/A|PULASKI INDUSTRIA...|         39.287577|         -76.539886|(39.287577,-76.53...|HARDWARE/BLDG. SUP. |              1|
|       -76.547559|39.3062830000001|   12|13L03907|2013/12/09 19:30:...|       6D|LARCENY FROM AUTO|             O|     NA| 433|     M|  33|             UNKNOWN|     NULL|   1100 HEWITT WAY|   NORTHEAST|         N/A|   ARMISTEAD GARDENS|         39.306283|         -76.547559|(39.306283,-76.54...|STREET              |              1|
|-76.6662909999999|39.3517850000001|   13|13L03705|2013/12/09 11:40:...|       5B|         BURGLARY|             I|     NA| 532|     M|  51|BLACK_OR_AFRICAN_...|     NULL| 5100 LEVINDALE RD|    NORTHERN|         N/A|           LEVINDALE|         39.351785|         -76.666291|(39.351785,-76.66...|   ROW/TOWNHOUSE-OCC|              1|
|       -76.621416|       39.296051|   14|13L03691|2013/12/09 10:55:...|       4E|   COMMON ASSAULT|             I|     NA| 125|     F|  41|BLACK_OR_AFRICAN_...|     NULL|    600 N EUTAW ST|     CENTRAL|         N/A|          SETON HILL|         39.296051|         -76.621416|(39.296051,-76.62...|APT/CONDO - OCCUPIED|              1|
|        -76.66761|39.3044570000001|   15|13L05383|2013/12/09 14:30:...|       5A|         BURGLARY|             I|     NA| 813|     F|  43|BLACK_OR_AFRICAN_...|     NULL| 3000 PRESSTMAN ST|   SOUTHWEST|         N/A|            ROSEMONT|         39.304457|          -76.66761|(39.304457,-76.66...|   ROW/TOWNHOUSE-OCC|              1|
|       -76.654709|       39.284839|   16|13L03718|2013/12/09 11:00:...|       5B|         BURGLARY|             I|     NA| 835|     M|  65|BLACK_OR_AFRICAN_...|     NULL|    100 WILLARD ST|   SOUTHWEST|         N/A|        SHIPLEY HILL|         39.284839|         -76.654709|(39.284839,-76.65...|   ROW/TOWNHOUSE-OCC|              1|
|       -76.678487|       39.286148|   17|13L03889|2013/12/09 19:00:...|      3AF|          ROBBERY|             O|FIREARM| 824|     F|  43|BLACK_OR_AFRICAN_...|     NULL| 0 S MONASTERY AVE|   SOUTHWEST|         N/A|       SAINT JOSEPHS|         39.286148|         -76.678487|(39.286148,-76.67...|STREET              |              1|
|-76.5975319999999|       39.296182|   18|13L03609|2013/12/09 01:05:...|       6D|LARCENY FROM AUTO|             O|     NA| 321|     M|  29|BLACK_OR_AFRICAN_...|     NULL| 500 N CAROLINE ST|     EASTERN|         N/A|     DUNBAR-BROADWAY|         39.296182|         -76.597532|(39.296182,-76.59...|STREET              |              1|
|       -76.683915|39.2993740000001|   19|13L03787|2013/12/09 14:55:...|       6D|LARCENY FROM AUTO|             O|     NA| 815|     F|  25|               WHITE|     NULL|1100 WILDWOOD PKWY|   SOUTHWEST|         N/A|   EDMONDSON VILLAGE|         39.299374|         -76.683915|(39.299374,-76.68...|STREET              |              1|
|       -76.589119|       39.292197|   20|13L04135|2013/12/09 13:00:...|       6D|LARCENY FROM AUTO|             O|     NA| 212|     F|  31|               WHITE|     NULL| 0 N WASHINGTON ST|   SOUTHEAST|         N/A|      BUTCHER'S HILL|         39.292197|         -76.589119|(39.292197,-76.58...|STREET              |              1|
+-----------------+----------------+-----+--------+--------------------+---------+-----------------+--------------+-------+----+------+----+--------------------+---------+------------------+------------+------------+--------------------+------------------+-------------------+--------------------+--------------------+---------------+
only showing top 20 rows

In [ ]:
# (4) Show the count of the rows
spark = SparkSession.builder \
    .appName("Spark SQL Operations") \
    .getOrCreate()
df.createOrReplaceTempView("temp_table")
count_query = "SELECT COUNT(*) AS count FROM temp_table"
count_df = spark.sql(count_query)
count_df.show()

+------+
| count|
+------+
|587356|
+------+

In [ ]:
# (5) Print the schema
df.printSchema()

root
 |-- X: string (nullable = true)
 |-- Y: string (nullable = true)
 |-- RowID: string (nullable = true)
 |-- CCNumber: string (nullable = true)
 |-- CrimeDateTime: string (nullable = true)
 |-- CrimeCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Inside_Outside: string (nullable = true)
 |-- Weapon: string (nullable = true)
 |-- Post: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Ethnicity: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Old_District: string (nullable = true)
 |-- New_District: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- GeoLocation: string (nullable = true)
 |-- PremiseType: string (nullable = true)
 |-- Total_Incidents: string (nullable = true)

In [ ]:
# (6) Display first 5 rows
first_5_rows_query = "SELECT * FROM temp_table LIMIT 5"
first_5_rows_df = spark.sql(first_5_rows_query)
first_5_rows_df.show()

+-----------------+----------------+-----+--------+--------------------+---------+--------------+--------------+-------+----+------+----+--------------------+---------+------------------+------------+------------+-------------------+---------+----------+--------------------+--------------------+---------------+
|                X|               Y|RowID|CCNumber|       CrimeDateTime|CrimeCode|   Description|Inside_Outside| Weapon|Post|Gender| Age|                Race|Ethnicity|          Location|Old_District|New_District|       Neighborhood| Latitude| Longitude|         GeoLocation|         PremiseType|Total_Incidents|
+-----------------+----------------+-----+--------+--------------------+---------+--------------+--------------+-------+----+------+----+--------------------+---------+------------------+------------+------------+-------------------+---------+----------+--------------------+--------------------+---------------+
|          -76.665|39.2945260000001|    1|13L06334|2013/12/14 22:10:...|      3AF|       ROBBERY|             O|FIREARM| 814|     M|  36|BLACK_OR_AFRICAN_...|     NULL|2900 EDMONDSON AVE|   SOUTHWEST|         N/A|  FRANKLINTOWN ROAD|39.294526|   -76.665| (39.294526,-76.665)|STREET              |              1|
|-76.5646639999999|39.2914440000001|    2|13L05902|2013/12/14 17:27:...|       4C|  AGG. ASSAULT|             O|  OTHER| 223|     F|  34|               WHITE|     NULL|     100 FAGLEY ST|   SOUTHEAST|         N/A|BALTIMORE HIGHLANDS|39.291444|-76.564664|(39.291444,-76.56...|STREET              |              1|
|       -76.593647|       39.285515|    3|13L05908|2013/12/14 02:00:...|       4E|COMMON ASSAULT|             O|     NA| 213|     F|  44|BLACK_OR_AFRICAN_...|     NULL|      500 BROADWAY|   SOUTHEAST|         N/A|        FELLS POINT|39.285515|-76.593647|(39.285515,-76.59...|STREET              |              1|
|       -76.676412|39.3347180000001|    4|13L06261|2013/12/14 16:30:...|       4D|  AGG. ASSAULT|             I|  HANDS| 623|     F|  19|BLACK_OR_AFRICAN_...|     NULL|  3700 BOARMAN AVE|   NORTHWEST|         N/A|  CALLAWAY-GARRISON|39.334718|-76.676412|(39.334718,-76.67...|APT/CONDO - OCCUPIED|              1|
|        -76.61959|39.2929500000001|    5|13L03805|2013/12/09 15:42:...|       6J|       LARCENY|             I|     NA| 114|     U|NULL|             UNKNOWN|     NULL|   300 N HOWARD ST|     CENTRAL|         N/A|           DOWNTOWN| 39.29295| -76.61959|(39.29295,-76.61959)|   CONVENIENCE STORE|              1|
+-----------------+----------------+-----+--------+--------------------+---------+--------------+--------------+-------+----+------+----+--------------------+---------+------------------+------------+------------+-------------------+---------+----------+--------------------+--------------------+---------------+

In [ ]:
# (7.1) Distinct crime codes
unique_crime_codes = df.select("CrimeCode").distinct()
unique_crime_codes.show()

+---------+
|CrimeCode|
+---------+
|       3P|
|       3K|
|      3BJ|
|       1A|
|       3M|
|       5F|
|       4B|
|       3B|
|       7A|
|      3NF|
|      3EF|
|       5D|
|       3N|
|       6K|
|      3LO|
|      3AF|
|       7B|
|      3GO|
|     3AJF|
|      8GV|
+---------+
only showing top 20 rows

In [ ]:
# (7.2) Count the number of crimes by the crime codes and order by the resulting counts in descending order
count_of_crimes_desc = df.groupBy("CrimeCode").count().sort(col("count").desc())
count_of_crimes_desc.show()

+---------+------+
|CrimeCode| count|
+---------+------+
|       4E|107496|
|       6D| 73509|
|       5A| 46654|
|       7A| 42082|
|       6J| 32324|
|       6G| 28606|
|       6C| 26705|
|       4C| 24285|
|       6E| 23973|
|       4B| 19742|
|       4A| 16307|
|      3AF| 16096|
|       5D| 14970|
|       7C| 12577|
|       6F| 11884|
|       3B| 10645|
|       5B|  7944|
|       4D|  7345|
|       9S|  6543|
|       5C|  4912|
+---------+------+
only showing top 20 rows

In [ ]:
# (7.3) neighbourhood having most crimes
crime_count_neighborhood = df.groupBy("neighborhood").count().sort(col("count").desc())
crime_count_neighborhood.first()

Row(neighborhood='DOWNTOWN', count=20267)

In [ ]:
# (7.4) which month of the year had most crimes?
df = df.withColumn("CrimeDateTime", to_timestamp(df["CrimeDateTime"], "yyyy/MM/dd HH:mm:ssX"))
df = df.withColumn("Year", year("CrimeDateTime"))#creating a column for year and month
df = df.withColumn("Month", month("CrimeDateTime"))
crime_count = df.groupBy(["Year", "Month"]).agg(F.count("*").alias("Count"))

#filtering the null values in the year column
crime_high_in_month = crime_count.filter(~isnull("Year")).groupBy("Year").agg(
                        first("Month").alias("month"),
                        first("Count").alias("count")
                        ).sort(col("count").desc())

crime_high_in_month.show(20)

+----+-----+-----+
|Year|month|count|
+----+-----+-----+
|2018|   10| 4577|
|2023|    9| 4540|
|2016|    7| 4107|
|2012|   10| 4106|
|2011|    3| 4104|
|2019|   10| 3924|
|2017|    3| 3784|
|2014|    4| 3691|
|2022|   10| 3684|
|2021|    8| 3488|
|2020|    6| 3140|
|2013|    2| 3116|
|2015|    2| 2606|
|2008|    1|    4|
|1978|    1|    3|
|2001|    1|    3|
|2010|    7|    3|
|2006|    7|    2|
|2004|    4|    2|
|1982|    6|    2|
+----+-----+-----+
only showing top 20 rows

In [ ]:
# (7.5) Weapons used
unique_weapons_used = df.select("weapon").distinct()
unique_weapons_used.show()

+--------------------+
|              weapon|
+--------------------+
|KNIFE_CUTTING_INS...|
|     AUTOMATIC_RIFLE|
|        BLUNT_OBJECT|
|       OTHER_FIREARM|
|        ASPHYXIATION|
|                  NA|
|FIRE_INCENDIARY_D...|
|   AUTOMATIC_HANDGUN|
|               HANDS|
|   AUTOMATIC_SHOTGUN|
|               KNIFE|
|             UNKNOWN|
|    PERSONAL_WEAPONS|
|          EXPLOSIVES|
|MOTOR_VEHICLE_VESSEL|
|               OTHER|
|   AUTOMATIC_FIREARM|
|DRUGS_NARCOTICS_S...|
|               RIFLE|
|                FIRE|
+--------------------+
only showing top 20 rows

In [ ]:
# (7.6) Which weapon was used the most?
df = df.filter(~df["Weapon"].isin("NA", "None", "Unknown")) #filtering the null
weapon_crime_counts = df.groupBy("Weapon").count().orderBy(col("count").desc())
weapon_crime_counts.first()

Row(Weapon='FIREARM', count=47672)